Source: openmediavault-git
Section: devel
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 8.0.0 )
Standards-Version: 3.9.3

Package: openmediavault-git
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.5.14), openmediavault (<< 0.6), apache2.2-common, git, git-core, libapache2-svn,
 libapache2-mod-authnz-external, pwauth, perl
Description: OpenMediaVault Git (Git server) plugin
 Run a git server through OMV's apache2. Create and manage
 repositories through OMV's interface.
