Source: openmediavault-git
Section: devel
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.3

Package: openmediavault-git
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 1.0.27), nginx, nginx-common, git, gitweb, fcgiwrap

Description: OpenMediaVault Git (Git server) plugin
 Run a git server through OMV's nginx. Create and manage
 repositories through OMV's interface.
